* {
  margin: 0;
}
body {
  box-sizing: border-box;
}
.app-container {
  border: 1px solid green;
  width: 550px;
  margin: 10px auto;
  background-color: white;
}

/* navBar css  */

.navbar--container {
  align-items: center;
  height: 55px;
  display: flex;
  justify-content: center;
  background-color: rgba(216, 68, 68, 0.897);
}

.mid-container {
  display: inline-block;
  display: flex;
}
.world {
  height: 25px;
  filter: invert(10);
  margin-right: 7px;
}
.nav--p {
  margin-top: 2px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}